.fondo-negro {
    --background: #121212;
    color: #ffffff;
    .texto{
        color: #ffffff;
    }
}

ion-fab-button {
    --background: black;
}
ion-button{
    --background: #1ED760;
    --color: black ;
}