.fondo-negro {
    --background: linear-gradient(180deg, #00667B 0%, #002F38 49.48%, #101010 89.06%, #101010 95.31%);
    color: #fff;

    .avatar {
        margin: auto;
        width: 100px;
        height: 100px;
    }

    .botonF {

        --background: #3E3F3F;
        --color:#ffffff;
    }

    .textoPeque {
        font-size: 10px;
        color: #9fa7a7;
    }

  

    .centro {
        text-align: center;
    }

    .fuente {
        font-family: Cabin;
        font-size: 19px;
        font-style: italic;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.01em;

    }

    .textoPlaylist {
        width: 93px;
        height: 30px;
        top: 399px;
        left: 7px;
        text-align: start;
    }
    .bontonCrear{
        color: #002F38;
    }
}

ion-fab-button {
    --background: none;
    --box-shadow: none;
}
ion-button{
                --color: #1ED760;
        
}