<ion-content class="fondo-negro">
  <ion-fab slot="fixed" vertical="top" horizontal="start">

    <ion-fab-button (click)="volver()">
      <ion-icon name="chevron-back-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>

  <ion-grid class="fondo-negro" [fixed]="true">
    <ion-row style="height: 55px"></ion-row>
    <ion-col size="12">
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-text class="ion-text-center">
        <p>Nombre de Usuario</p>
      </ion-text>
      <div class="ion-text-center">
        <ion-button shape="round" size="small" class="botonF">
          Cambiar Foto
        </ion-button>
      </div>

    </ion-col>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-text>
          <div class="ion-text-center">3</div>
        </ion-text>
        <div class="ion-text-center">
          <p class="textoPeque">Playlist</p>
        </div>

      </ion-col>
      <ion-col>
        <ion-text>
          <div class="ion-text-center">58</div>
        </ion-text>
        <div class="ion-text-center">
          <p class="textoPeque">Seguidores</p>
        </div>

      </ion-col>
      <ion-col>
        <ion-text>
          <div class="ion-text-center">43</div>
        </ion-text>
        <div class="ion-text-center">
          <p class="textoPeque">Siguiendo</p>
        </div>

      </ion-col>
    </ion-row>
    <ion-row style="height: 25px"></ion-row>
    <ion-text>
      <div class="fuente"> Playlist</div>
    </ion-text>

    <ion-col size="4">
      <ion-row *ngFor="let i of [1,2]">
        <ion-img [src]="'https://picsum.photos/300/300?random=' + i" style="width:15%" alt=""></ion-img>
        <ion-col>
          <div class="textoPlaylist"> PlayList {{i}}
            <ion-row style="height: 10px"></ion-row>
            <div class="textoPeque">0 Canciones </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let imagen of imagenes">
        <ion-img [src]="imagen.imagenSrc" style="width:15%" alt=""></ion-img>
        <ion-col>
          <div class="textoPlaylist" > {{imagen.nombre}}
            <ion-row style="height: 10px"></ion-row>
            <div class="textoPeque">0 Canciones </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>

    <div> <ion-button fill="clear" (click)="crearP()"> Crear Playlist <ion-icon
          name="add-outline"></ion-icon></ion-button></div>


  </ion-grid>

</ion-content>