<ion-content [fullscreen]="true" class="fondo-negro">
  <ion-fab slot="fixed" vertical="top" horizontal="start">

    <ion-fab-button (click)="volverInicio()">
      <ion-icon name="chevron-back-outline"></ion-icon>

    </ion-fab-button>

  </ion-fab>
  <ion-grid>

    <ion-text class="ion-text-center">
      <p class="InicioText">Crear una cuenta</p>
    </ion-text>
    <form [formGroup]="regForm" novalidate>
      <div class="ion-padding">
        <ion-text>
          <p class="textoP">¿Como te llamas?</p>
        </ion-text>
        <ion-item>
          <ion-input formControlName="fullname" placeholder="Nombre" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div *ngIf="regForm.controls?.['fullname'].touched && regForm.controls['fullname'].invalid">
          <ion-text *ngIf="errorControl.fullname.errors?.required">
            Nombre invalido
          </ion-text>
        </div>

        <ion-text>
          <p class="textoP">¿Cual es tu correo?</p>
        </ion-text>
        <ion-item>
          <ion-input formControlName="email" placeholder="Correo" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div *ngIf="regForm.controls?.['email'].touched && regForm.controls['email'].invalid">
          <ion-text *ngIf="errorControl.email.errors?.required">
            Correo invalido
          </ion-text>
        </div>

          <ion-text>
            <p class="textoP">¿Cual es tu contraseña?</p>
          </ion-text>
        <ion-item>
          <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div *ngIf="regForm.controls?.['password'].touched && regForm.controls['password'].invalid">
          <ion-text *ngIf="errorControl.password.errors?.required">
            Contraseña invalida
          </ion-text>
        </div>




      </div>
      <ion-grid class="ion-text-center">
        <ion-button shape="round" class="Login" (click)="signUp()">
          Next
        </ion-button>
      </ion-grid>


    </form>
  </ion-grid>
</ion-content>