 .fondo-negro {
     --background: #121212;
     color: #fff;
 }

.input {
    font-size: 300;
}
.Login {
    --background: #535353;
    margin-top: 10px;
    width: 82px;
    height: 42px;

}
ion-text {
    color: #fff;

    .InicioText {

        font-size: 16px;
    }

    .textoP {
        font-size: 20px;

    }
}

ion-item {
    --backgroud: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header {
    margin-top: 200px;
    margin-bottom: 80px;
    text-align: center;

    .subtitle {
        color: gray;
        font-size: 0.9rem;

    }

    title {
        font-size: 2rem;
    }


}


ion-fab-button {
    --background: black;
}