<ion-content [fullscreen]="true" class="fondo-negro">
<img src="assets/inicio.png">

<p class="texto-central">Millones de canciones en un solo lugar </p>
  <ion-grid style="text-align:center">
    

    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" size="default"  class="InciarSecionB" (click)="toLogIn()">Iniciar seción</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" size="default" class="RegistroB" (click)="toSignup()">Registro</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>